<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="FinanceDataLayer.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLOLEDB;Data Source=ca-uat-oxd-101,35433;User ID=sa;Initial Catalog=onyxuat"
      providerName="System.Data.OleDb" />
    <add name="FinanceDataLayer.Properties.Settings.ConnectionString1"
      connectionString="Provider=SQLOLEDB;Data Source=ca-uat-oxd-101,35433;Password=not1idea!;User ID=sa;Initial Catalog=onyxuat"
      providerName="System.Data.OleDb" />
    <add name="TopClassEntities" connectionString="metadata=res://*/TopClassData.csdl|res://*/TopClassData.ssdl|res://*/TopClassData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ca-tst-tcap-101,35433;initial catalog=TSTTopClass;user id=financeuser;password=FinanceTop1;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FinanceAuditSyncEntities" connectionString="metadata=res://*/auditEntities.csdl|res://*/auditEntities.ssdl|res://*/auditEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FinanceAuditSync;user id=auditLogger;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FinanceDataLayer.Properties.Settings.ConnectionString2"
      connectionString="Provider=SQLOLEDB;Data Source=CA-DEV-SQL-01;Password=not1idea!;User ID=sa;Initial Catalog=onyxdev"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>